In [ ]:
import json
import boto3
from rich import print

# Define a function to retrieve JSON content from an S3 bucket
def retrieve_json_from_s3(bucket_name, json_file_name):
 
    # Create a session using your AWS credentials
    session = boto3.Session(
        aws_access_key_id="AKIAQ3EGTT63PDFGOWGC",
        aws_secret_access_key="M56KSoFBpHLG16P2dds1ap6pKxRBqZXDvuX4sWNZ",
        region_name="us-east-1"
    )
    # Create an S3 client
    s3 = session.client("s3")
    
    session = boto3.Session(
        aws_access_key_id="AKIAQ3EGTT63PDFGOWGC",
        aws_secret_access_key="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",
        region_name="us-east-1"
    )
    
    # Create an S3 client
    s3 = session.client("s3")

    # Retrieve JSON file content from S3
    file_content = s3.get_object(Bucket=bucket_name, Key=json_file_name)['Body'].read().decode('utf-8')

    # Parses JSON content
    data = json.loads(file_content)

    return data

results = retrieve_json_from_s3("blackbaud-testing", "test-constituents.json")

print(results)

In [4]:
user_id = [ index['id'] for index in results ]

print(user_id)

['642507', '642508', '642509', '618885', '618886', '618887', '618888', '618889', '618890', '618891', '618892', '618893', '618992', '618993', '618994', '618995', '618996', '618997', '618998', '618999', '619000', '628940', '628941', '628942', '628943', '628944', '628945', '628946', '628947', '628948', '628949', '628950', '628951', '628952', '628953', '628954', '628955', '628956', '628957', '628958', '628959', '628960', '628961', '628962', '628963', '628964', '628965', '628966', '628967', '628968', '628969', '628970', '628971', '628972', '628973', '628974', '628975']

In [5]:
import requests
from urllib.parse import urlencode

# Replace the following values with your actual API credentials
client_id = '7b1f9c28-90d9-49ee-a3a4-12c3db01ded5'
client_secret = 'f2NII6IiHbghiB2ssxZ/q+mswVLjksAmSlrjMvUQbsE=' #OAuth Client Secret
redirect_uri = 'https://www.matt-thacker.com/redirect'
scope = 'Full'

# Step 1: Get the authorization URL
authorization_url = 'https://oauth2.sky.blackbaud.com/authorization'
params = {
	'response_type': 'code',
	'client_id': client_id,
	'redirect_uri': redirect_uri,
	'scope': scope
}
url = f'{authorization_url}?{urlencode(params)}'

print(f'Please visit the following URL to authorize the application:\n{url}')

Please visit the following URL to authorize the application:
https://oauth2.sky.blackbaud.com/authorization?response_type=code&client_id=7b1f9c28-90d9-49ee-a3a4-12c3db01ded5&redirect_uri=https%3A%2F%2Fwww.matt-thacker.com%2Fredirect&scope=Full

In [6]:
# Step 2: Get the authorization code from the user
auth_code = input('Enter the authorization code you received: ')

In [7]:
# Step 3: Exchange the authorization code for an access token
token_url = 'https://oauth2.sky.blackbaud.com/token'
payload = {
	'grant_type': 'authorization_code',
	'code': auth_code,
	'client_id': client_id,
	'client_secret': client_secret,
	'redirect_uri': redirect_uri
}
response = requests.post(token_url, data=payload)
response_data = response.json()

if 'access_token' not in response_data:
	print(f'Error: {response_data.get("error_description")}')
else:
	access_token = response_data['access_token']
	refresh_token = response_data['refresh_token']
	print(f'Access token: {access_token}\nRefresh token: {refresh_token}')

Access token: eyJhbGciOiJSUzI1NiIsImtpZCI6IjREVjZzVkxIM0FtU1JTbUZqMk04Wm5wWHU3WSIsInR5cCI6IkpXVCJ9.eyJhcHBsaWNhdGlvbmlkIjoiN2IxZjljMjgtOTBkOS00OWVlLWEzYTQtMTJjM2RiMDFkZWQ1IiwiZW52aXJvbm1lbnRpZCI6InAtdm5WQWJEdGZ1MEd5TXFTRG1HLV9xdyIsImVudmlyb25tZW50bmFtZSI6IlNLWSBEZXZlbG9wZXIgQ29ob3J0IEVudmlyb25tZW50IDEiLCJsZWdhbGVudGl0eWlkIjoicC1nVnFyX3lPU2tVcXNFS3RtLVpwSm5BIiwibGVnYWxlbnRpdHluYW1lIjoiU0tZIERldmVsb3BlciBDb2hvcnQiLCJtb2RlIjoiRnVsbCIsInpvbmUiOiJwLXVzYTAxIiwibmFtZWlkIjoiZDliZTZlY2YtOGFiNC00YjUxLThhYWMtZjNiYjQwOGE0NGNhIiwianRpIjoiYmM4ZWM3YjQtYWQzMi00NmZjLWE3ODktMWM2NjRiMDcyNDI4IiwiZXhwIjoxNzA5NzkxNDcyLCJpYXQiOjE3MDk3ODc4NzIsImlzcyI6Imh0dHBzOi8vb2F1dGgyLnNreS5ibGFja2JhdWQuY29tLyIsImF1ZCI6ImJsYWNrYmF1ZCJ9.cvf89kCkJQ2yzrBvvWEuU4YqDwZ4o-KGoFP5hq4sSK7s0OdGBrpMd4GF1eH146azUAqUhDTtBfJmG8l23ptgCPm6WSg8GxTondyqNXsLjgvU6CKv7k6lrzaW4AHnU3IJ-_BmtOpjLE2cxR7n3XgnK3p4UeSYtdiOM7-bBZNV4RHILTpV_DxeGJaVOIxhzCt4rk_vyk3zBPmIsnC2l8MZ-0LpnI_IyQATOlgQbWl7wPA9y_LP6bBoWlAtdXcfkP_GI-owWvtHdPNiqBOZzbikjAvdGLnj7AK_75QbTexDQuXcrLo2aTFmxKOuXrqZh2S76l2Z3KYdyNWnjAcORvP3og
Refresh token: 55bdc4a09e2d4261ad03235cdea11974

In [8]:
print(access_token)

eyJhbGciOiJSUzI1NiIsImtpZCI6IjREVjZzVkxIM0FtU1JTbUZqMk04Wm5wWHU3WSIsInR5cCI6IkpXVCJ9.eyJhcHBsaWNhdGlvbmlkIjoiN2IxZjljMjgtOTBkOS00OWVlLWEzYTQtMTJjM2RiMDFkZWQ1IiwiZW52aXJvbm1lbnRpZCI6InAtdm5WQWJEdGZ1MEd5TXFTRG1HLV9xdyIsImVudmlyb25tZW50bmFtZSI6IlNLWSBEZXZlbG9wZXIgQ29ob3J0IEVudmlyb25tZW50IDEiLCJsZWdhbGVudGl0eWlkIjoicC1nVnFyX3lPU2tVcXNFS3RtLVpwSm5BIiwibGVnYWxlbnRpdHluYW1lIjoiU0tZIERldmVsb3BlciBDb2hvcnQiLCJtb2RlIjoiRnVsbCIsInpvbmUiOiJwLXVzYTAxIiwibmFtZWlkIjoiZDliZTZlY2YtOGFiNC00YjUxLThhYWMtZjNiYjQwOGE0NGNhIiwianRpIjoiYmM4ZWM3YjQtYWQzMi00NmZjLWE3ODktMWM2NjRiMDcyNDI4IiwiZXhwIjoxNzA5NzkxNDcyLCJpYXQiOjE3MDk3ODc4NzIsImlzcyI6Imh0dHBzOi8vb2F1dGgyLnNreS5ibGFja2JhdWQuY29tLyIsImF1ZCI6ImJsYWNrYmF1ZCJ9.cvf89kCkJQ2yzrBvvWEuU4YqDwZ4o-KGoFP5hq4sSK7s0OdGBrpMd4GF1eH146azUAqUhDTtBfJmG8l23ptgCPm6WSg8GxTondyqNXsLjgvU6CKv7k6lrzaW4AHnU3IJ-_BmtOpjLE2cxR7n3XgnK3p4UeSYtdiOM7-bBZNV4RHILTpV_DxeGJaVOIxhzCt4rk_vyk3zBPmIsnC2l8MZ-0LpnI_IyQATOlgQbWl7wPA9y_LP6bBoWlAtdXcfkP_GI-owWvtHdPNiqBOZzbikjAvdGLnj7AK_75QbTexDQuXcrLo2aTFmxKOuXrqZh2S76l2Z3KYdyNWnjAcORvP3og

In [ ]:
def refresh_access_token(client_id, client_secret, refresh_token):
    """
    Refreshes the access token using the given client ID, client secret, and refresh token.

    :param client_id: The client ID provided by the OAuth2 provider.
    :param client_secret: The client secret provided by the OAuth2 provider.
    :param refresh_token: The refresh token obtained during the initial authentication.
    :return: A dictionary containing the refreshed access token.
    :raises Exception: If the request to refresh the access token fails.
    """
	token_url = "https://oauth2.sky.blackbaud.com/token"

	payload = {
		"client_id": client_id,
		"client_secret": client_secret,
		"refresh_token": refresh_token,
		"grant_type": "refresh_token"
	}

	headers = {
		"Content-Type": "application/x-www-form-urlencoded"
	}

	response = requests.post(token_url, data=payload, headers=headers)

	
	if response.status_code == 200:
	
		return response.json()
	else:
		# Handle error scenarios
		raise Exception(f"Failed to refresh access token: {response.text}")

try:
	new_token_details = refresh_access_token(client_id, client_secret, refresh_token)
	print("New access token details:", new_token_details)
except Exception as e:
	print(e)

In [11]:

def get_constituent_code_by_id(constituent_id):
    # Define the endpoint
    endpoint = f"https://api.sky.blackbaud.com/constituent/v1/constituents/{constituent_id}/constituentcodes"

    # Define the headers
    headers = {
        "Authorization": f"Bearer {access_token}",
        "Bb-Api-Subscription-Key": '2ea374f2e6234d8a9cd2ed724587fe31',
        "Content-Type": "application/json"
    }

    # Send the request
    response = requests.get(endpoint, headers=headers)

    # Check if the request was successful
    if response.status_code == 200:
        ids_with_codes.append(response.json())
        return response.json()
    else:
        # Handle error scenarios
        raise Exception(f"Failed to get constituent by ID: {response.text}")

In [14]:
ids_with_codes = []

for id in user_id:
    try:
        get_constituent_code_by_id(id)
    except Exception as e:
        print(e)

In [15]:
print(ids_with_codes)

[{'count': 1, 'value': [{'id': '25030', 'constituent_id': '642507', 'description': 'Celebrity', 'sequence': 1}]}, {'count': 2, 'value': [{'id': '25031', 'constituent_id': '642508', 'description': 'Gentleman', 'sequence': 1}, {'id': '25032', 'constituent_id': '642508', 'description': 'Scholar', 'sequence': 2}]}, {'count': 0, 'value': []}, {'count': 1, 'value': [{'id': '25033', 'constituent_id': '618885', 'description': 'Other Things', 'sequence': 1}]}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 1, 'value': [{'id': '25034', 'constituent_id': '618889', 'description': 'Volunteer', 'sequence': 1}]}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 1, 'value': [{'id': '25035', 'constituent_id': '618893', 'description': 'Board Member', 'sequence': 1}]}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}]

In [20]:
with open('constituent-code-test.json', 'w') as f:
    json.dump(ids_with_codes, f)

In [23]:
import pandas as pd

df_constituents = pd.DataFrame(results)

df_constituents.head()

,id,address,date_added,date_modified,deceased,fundraiser_status,gender,gives_anonymously,inactive,last,lookup_id,name,spouse,type,age,birthdate,email,first,middle
0,642507,"{'id': '905185', 'constituent_id': '642507', '...",2024-02-06T04:35:13.93-05:00,2024-02-07T07:08:34.69-05:00,False,None,Unknown,False,False,Last name,13298,Last name,{'is_head_of_household': False},Individual,NaN,NaN,NaN,NaN,NaN
1,642508,"{'id': '905186', 'constituent_id': '642508', '...",2024-02-06T04:35:26.243-05:00,2024-02-07T07:08:34.69-05:00,False,None,Unknown,False,False,Last name,13299,Last name,{'is_head_of_household': False},Individual,NaN,NaN,NaN,NaN,NaN
2,642509,"{'id': '905187', 'constituent_id': '642509', '...",2024-02-06T04:35:28.37-05:00,2024-02-07T07:08:34.69-05:00,False,None,Unknown,False,False,Last name,13300,Last name,{'is_head_of_household': False},Individual,NaN,NaN,NaN,NaN,NaN
3,618885,"{'id': '844078', 'address_lines': 'Every world...",2022-05-05T02:37:19.31-05:00,2024-01-23T12:25:32.963-05:00,False,None,Unknown,False,False,Last name,5825384,__First name [SD] M. Last name,{'is_head_of_household': False},Individual,1.0,"{'d': 1, 'm': 4, 'y': 2022}","{'id': '46851', 'address': 'abc@t.com', 'const...",__First name [SD],Middle name
4,618886,"{'id': '844079', 'address_lines': 'Every world...",2022-05-05T02:37:19.31-05:00,2024-01-23T12:25:32.994-05:00,False,None,Unknown,False,False,Last name,582532547,__First name [SD] M. Last name,{'is_head_of_household': False},Individual,1.0,"{'d': 1, 'm': 4, 'y': 2022}","{'id': '46852', 'address': 'abc@t.com', 'const...",__First name [SD],Middle name

In [41]:

results_con_codes = retrieve_json_from_s3("blackbaud-testing", "constituent-code-test.json")

constituent_codes_clean = [ index['value'] for index in results_con_codes ]

print(constituent_codes_clean)

[{'count': 1, 'value': [{'id': '25030', 'constituent_id': '642507', 'description': 'Celebrity', 'sequence': 1}]}, {'count': 2, 'value': [{'id': '25031', 'constituent_id': '642508', 'description': 'Gentleman', 'sequence': 1}, {'id': '25032', 'constituent_id': '642508', 'description': 'Scholar', 'sequence': 2}]}, {'count': 0, 'value': []}, {'count': 1, 'value': [{'id': '25033', 'constituent_id': '618885', 'description': 'Other Things', 'sequence': 1}]}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 1, 'value': [{'id': '25034', 'constituent_id': '618889', 'description': 'Volunteer', 'sequence': 1}]}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 1, 'value': [{'id': '25035', 'constituent_id': '618893', 'description': 'Board Member', 'sequence': 1}]}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}, {'count': 0, 'value': []}]

In [65]:
df_constitiuent_codes = pd.DataFrame(constituent_codes_clean, columns=['constituent_codes1', 'constituent_codes2'])

col1 = df_constitiuent_codes['constituent_codes1'].to_frame()
col2 = df_constitiuent_codes['constituent_codes2'].to_frame()

#Flatten constituent_codes2 into constituent_codes1
# new_df = pd.concat([df_constitiuent_codes['constituent_codes1'].to_frame(),df_constitiuent_codes['constituent_codes2'].to_frame()])

col1.dropna(inplace=True)
col2.dropna(inplace=True)

col1.rename(columns={'constituent_codes1':'constituent_codes'}, inplace=True)
col2.rename(columns={'constituent_codes2':'constituent_codes'}, inplace=True)

new_df = pd.concat([col1, col2]).reset_index(drop=True)

new_df.explode('constituent_codes')
new_df.head(10)

def explode(vect):
    const_code_id = vect['id']
    const_id = vect['constituent_id']
    const_code = vect['description']
    const_code_seq = vect['sequence']
    
    return const_code_id, const_id, const_code, const_code_seq

new_df['const_code_id'], new_df['const_id'], new_df['const_code'], new_df['const_code_seq'] = zip(*new_df['constituent_codes'].map(explode))

new_df.drop(columns=['constituent_codes'], inplace=True)

new_df.head(10)

  const_code_id const_id    const_code  const_code_seq
0         25030   642507     Celebrity               1
1         25031   642508     Gentleman               1
2         25033   618885  Other Things               1
3         25034   618889     Volunteer               1
4         25035   618893  Board Member               1
5         25032   642508       Scholar               2

In [66]:
#Merge the two dataframes
df_merged = pd.merge(df_constituents, new_df, left_on='id', right_on='const_id', how='left')

df_merged.head(20)

,id,address,date_added,date_modified,deceased,fundraiser_status,gender,gives_anonymously,inactive,last,...,type,age,birthdate,email,first,middle,const_code_id,const_id,const_code,const_code_seq
0,642507,"{'id': '905185', 'constituent_id': '642507', '...",2024-02-06T04:35:13.93-05:00,2024-02-07T07:08:34.69-05:00,False,None,Unknown,False,False,Last name,...,Individual,NaN,NaN,NaN,NaN,NaN,25030,642507,Celebrity,1.0
1,642508,"{'id': '905186', 'constituent_id': '642508', '...",2024-02-06T04:35:26.243-05:00,2024-02-07T07:08:34.69-05:00,False,None,Unknown,False,False,Last name,...,Individual,NaN,NaN,NaN,NaN,NaN,25031,642508,Gentleman,1.0
2,642508,"{'id': '905186', 'constituent_id': '642508', '...",2024-02-06T04:35:26.243-05:00,2024-02-07T07:08:34.69-05:00,False,None,Unknown,False,False,Last name,...,Individual,NaN,NaN,NaN,NaN,NaN,25032,642508,Scholar,2.0
3,642509,"{'id': '905187', 'constituent_id': '642509', '...",2024-02-06T04:35:28.37-05:00,2024-02-07T07:08:34.69-05:00,False,None,Unknown,False,False,Last name,...,Individual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,618885,"{'id': '844078', 'address_lines': 'Every world...",2022-05-05T02:37:19.31-05:00,2024-01-23T12:25:32.963-05:00,False,None,Unknown,False,False,Last name,...,Individual,1.0,"{'d': 1, 'm': 4, 'y': 2022}","{'id': '46851', 'address': 'abc@t.com', 'const...",__First name [SD],Middle name,25033,618885,Other Things,1.0
5,618886,"{'id': '844079', 'address_lines': 'Every world...",2022-05-05T02:37:19.31-05:00,2024-01-23T12:25:32.994-05:00,False,None,Unknown,False,False,Last name,...,Individual,1.0,"{'d': 1, 'm': 4, 'y': 2022}","{'id': '46852', 'address': 'abc@t.com', 'const...",__First name [SD],Middle name,NaN,NaN,NaN,NaN
6,618887,"{'id': '844080', 'address_lines': 'Every world...",2022-05-05T02:37:19.31-05:00,2024-01-23T12:25:33.009-05:00,False,None,Unknown,False,False,Last name,...,Individual,1.0,"{'d': 1, 'm': 4, 'y': 2022}","{'id': '46853', 'address': 'abc@t.com', 'const...",__First name [SD],Middle name,NaN,NaN,NaN,NaN
7,618888,"{'id': '844081', 'address_lines': 'Every world...",2022-05-05T02:37:19.31-05:00,2024-01-23T12:25:33.009-05:00,False,None,Unknown,False,False,Last name,...,Individual,1.0,"{'d': 1, 'm': 4, 'y': 2022}","{'id': '46854', 'address': 'abc@t.com', 'const...",__First name [SD],Middle name,NaN,NaN,NaN,NaN
8,618889,"{'id': '844082', 'address_lines': 'Every world...",2022-05-05T02:37:19.31-05:00,2024-01-23T12:25:33.025-05:00,False,None,Unknown,False,False,Last name,...,Individual,1.0,"{'d': 1, 'm': 4, 'y': 2022}","{'id': '46855', 'address': 'abc@t.com', 'const...",__First name [SD],Middle name,25034,618889,Volunteer,1.0
9,618890,"{'id': '844083', 'address_lines': 'Every world...",2022-05-05T02:37:19.31-05:00,2024-01-23T12:25:33.041-05:00,False,None,Unknown,False,False,Last name,...,Individual,1.0,"{'d': 1, 'm': 4, 'y': 2022}","{'id': '46856', 'address': 'abc@t.com', 'const...",__First name [SD],Middle name,NaN,NaN,NaN,NaN
10,618891,"{'id': '844084', 'address_lines': 'Every world...",2022-05-05T02:37:19.31-05:00,2024-01-23T12:25:33.056-05:00,False,None,Unknown,False,False,Last name,...,Individual,1.0,"{'d': 1, 'm': 4, 'y': 2022}","{'id': '46857', 'address': 'abc@t.com', 'const...",__First name [SD],Middle name,NaN,NaN,NaN,NaN
11,618892,"{'id': '844085', 'address_lines': 'Every world...",2022-05-05T02:37:19.31-05:00,2024-01-23T12:25:33.072-05:00,False,None,Unknown,False,False,Last name,...,Individual,1.0,"{'d': 1, 'm': 4, 'y': 2022}","{'id': '46858', 'address': 'abc@t.com', 'const...",__First name [SD],Middle name,NaN,NaN,NaN,NaN
12,618893,"{'id': '844086', 'address_lines': 'Every world...",2022-05-05T02:37:19.31-05:00,2024-01-23T12:25:33.088-05:00,False,None,Unknown,False,False,Last name,...,Individual,1.0,"{'d': 1, 'm': 4, 'y': 2022}","{'id': '46859', 'address': 'abc@t.com', 'const...",__First name [SD],Middle name,25035,618893,Board Member,1.0
13,618992,"{'id': '844190', 'address_lines': '1600 Amphit...",2022-05-05T02:37:19.31-05:00,2024-01-23T12:25:33.103-05:00,False,None,Unknown,False,False,Last name,...,Individual,1.0,"{'d': 1, 'm': 4, 'y': 2022}","{'id': '47019', 'address': 'abc@t.com', 'const...",__First name [SD],Middle name,NaN,NaN,NaN,NaN
14,618993,"{'id': '844191', 'address_lines': '1600 Amphit...",2022-05-05T02:37:19.31-05:00,2024-01-23T12:25:33.119-05:00,False,None,Unknown,False,False,Last name,...,Individual,1.0,"{'d': 1, 'm': 4, 'y': 2022}","{'id': '47020', 'address': 'abc@t.com', 'const...",__First name [SD],Middle name,NaN,NaN,NaN,NaN
15,618994,"{'id': '844192', 'address_lines': '1600 Amphit...",2022-05-05T02:37:19.31-05:00,2024-01-23T12:25:33.181-05:00,False,None,Unknown,False,False,Last name,...,Individual,1.0,"{'d': 1, 'm': 4, 'y': 2022}","{'id': '47021', 'address': 'abc@t.com', 'const...",__First name [SD],Middle name,NaN,NaN,NaN,NaN
16,618995,"{'id': '844193', 'address_lines': '1600 Amphit...",2022-05-05T02:37:19.31-05:00,2024-01-23T12:25:33.213-05:00,False,None,Unknown,False,False,Last name,...,Individual,1.0,"{'d': 1, 'm': 4, 'y': 2022}","{'id': '47022', 'address': 'abc@t.com', 'const...",__First name [SD],Middle name,NaN,NaN,NaN,NaN
17,618996,"{'id': '844194', 'address_lines': '1600 Amphit...",2022-05-05T02:37:19.31-05:00,2024-01-23T12:25:33.244-05:00,False,None,Unknown,False,False,Last name,...,Individual,1.0,"{'d': 1, 'm': 4, 'y': 2022}","{'id': '47023', 'address': 'abc@t.com', 'const...",__First name [SD],Middle name,NaN,NaN,NaN,NaN
18,618997,"{'id': '844195', 'address_lines': '1600 Amphit...",2022-05-05T02:37:19.31-05:00,2024-01-23T12:25:33.259-05:00,False,None,Unknown,False,False,Last name,...,Individual,1.0,"{'d': 1, 'm': 4, 'y': 2022}","{'id': '47024', 'address': 'abc@t.com', 'const...",__First name [SD],Middle name,NaN,NaN,NaN,NaN
19,618998,"{'id': '844196', 'address_lines': '1600 Amphit...",2022-05-05T02:37:19.31-05:00,2024-01-23T12:25:33.291-05:00,False,None,Unknown,False,False,Last name,...,Individual,1.0,"{'d': 1, 'm': 4, 'y': 2022}","{'id': '47025', 'address': 'abc@t.com', 'const...",__First name [SD],Middle name,NaN,NaN,NaN,NaN